<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new chat</title>
</head>
<body>
    <form action="/chats" method="post">
        <div>
            <label for="from">Enter the sender's name: </label>
            <input type="text" id="from" name="from">
        </div>
<br>
        <div>
            <label for="to">Enter the receiver's name: </label>
            <input type="text" id="to" name="to">
        </div>
<br><br>
        <div>
            <textarea name="msg" id="msg" placeholder="Enter the message" rows="10" cols="80"></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>