<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>

<body>
    
    <form method="post" action="/users?_method=patch">
        
        <input type="text" name="id" value="<%= user.id%>">
        <textarea name="username" id="username"><%= user.username %></textarea>
        <label for="password">Enter your password: </label>
        <input type="password" id="password" name="password">

        <button>Submit</button>
    </form>
</body>

</html>