<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h1>Create Account</h1>
    <form action="/users" method="post">

        <label for="id">Enter your id: </label>
        <input type="text" id="id" name="id">
<br><br><br>
        <label for="username">Enter your username: </label>
        <input type="text" id="username" name="username">
<br><br><br>
        <label for="email">Enter your email: </label>
        <input type="email" id="email" name="email">
<br><br><br>
        <label for="password">Enter your password</label>
        <input type="password" id="password" name="password">
<br><br><br>
        <button>Submit</button>

    </form>
</body>
</html>