.weatherwidget{
    display: flex;
    justify-content: center;
}

.minmaxtemp{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.minmaxtemp div{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    
}

.cardContent div{
    margin-bottom: 5px;
}
