<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>Welcome to our home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi molestias odio rerum, quota.
    Ullam, doloremque? Fugit eius sequi dolor dolorem quo neque suscipit deserunt voluptates aliquid quas. Fuga nemo assumenda possimus a ab voluptate sapiente provident rerum quam voluptatemab reiciendis.</p>
    <button>Click Me</button>
</body>
</html>